
@{
    Layout = null;
}

<div class="container" style="padding:20px">
    <div>
        <nav class="navbar justify-content-center">
            <a href="/">
                <img src="/Content/images/icons/logo.png" alt="IMG-LOGO">
            </a>
        </nav>
    </div>
</div>
