
@{
    Layout = null;
}

<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
    <div class="leftbar p-r-20 p-r-0-sm">

        @{
            Html.RenderAction("Kategoriler");
            Html.RenderAction("RenkFilter");
            Html.RenderAction("AramaFilter");
        }

    </div>
</div>
