
@{
    Layout = null;
}

<!-- Footer -->
<footer class="t-center p-t-45 p-b-43 p-l-45 p-r-45">
    <div class="text-center p-b-90">
        <div class="text-center p-t-30">
            <div class=" t-center p-l-15 p-r-15">
                Copyright &copy; @DateTime.Now.Year All rights reserved. | Cemile Genç - Önder Fatih Buhurcu
            </div>
            <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
            <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
            <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
            <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
            <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
        </div>
    </div>
</footer>