
@{
    Layout = null;
}

<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(/Content/images/heading-pages-01.jpg);">
    <h2 class="l-text2 t-center">
        Sepet
    </h2>
</section>
