
@{
    Layout = null;
}

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <div class=" t-center p-l-15 p-r-15">
                Copyright &copy; @DateTime.Now.Year All rights reserved. | Cemile Genç - Önder Fatih Buhurcu
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->