
@{
    Layout = null;
}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">eCompare</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Ürünleriniz</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Ürün İşlemleri
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/Admin/UrunEkle">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Ürün Ekle</span>
        </a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Diğer Ürün İşlemleri</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Beden İşlemleri</h6>
                <a class="collapse-item" href="/Admin/BedenEkle">Beden Oluştur</a>
                <a class="collapse-item" href="/Admin/BedenList">Beden Listesi</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Kategori İşlemleri</h6>
                <a class="collapse-item" href="/Admin/KategoriEkle">Kategori Oluştur</a>
                <a class="collapse-item" href="/Admin/KategoriList">Kategori Listesi</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Renk İşlemleri</h6>
                <a class="collapse-item" href="/Admin/RenkEkle">Renk Oluştur</a>
                <a class="collapse-item" href="/Admin/RenkList">Renk Listesi</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Siparişleriniz
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/Admin/Siparis">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Siparişlerim</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->
